/* import fonts */
@font-face {
  font-family: Helvetica Neue;
  src: url('./Fonts/HelveticaNeue.woff2') format('woff2'),
      url('./Fonts/HelveticaNeue.woff') format('woff'),
      url('./Fonts/HelveticaNeue.ttf') format('ttf'),
      url('./Fonts/HelveticaNeue.otf') format('otf'),
      url('./Fonts/HelveticaNeue.eot') format('eot');
}


/* custom colors & font variables */
:root {
  --color-0: #3a454d;
  --color-1: #8d8f92;
  --color-2: #292f36;
  --color-3: #e1e6ea;
  --color-4: #ff0000;
  --color-5: #ccd0d7;
  --color-6: #ffffff;
  --font-helvetica: Helvetica Neue, Fallback, sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-helvetica);
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.container {
  max-width: 690px;
}

.top-banner-image {
  width: 100%;
}

.welcome-text {
  display: none;
}

.about-section__title,
.team-section__title,
.service-section__title,
.work-section__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  color: var(--color-2);
  text-transform: uppercase;
  border-left: 11px solid var(--color-3);
  padding-left: 14px;
  margin-top: 70px;
  margin-bottom: 56px;
}

.mobile-align-center {
  text-align: center;
}

.work-section__title {
  color: var(--color-6);
  display: inline-block;
}


.work-section {
  margin-top: 100px;
  background: var(--color-0);
  width: 100%;
  padding-bottom: 100px;
}

.work-section__image-wrapper {
  position: relative;
}

.work-section__image-caption {
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  background: var(--color-2);
  text-transform: uppercase;
}

.work-section__image-wrapper:hover .work-section__image-overlay {
  cursor: pointer;
  display: block;
  background: rgba(29, 33, 38, 0.5);
  color: var(--color-6);
}

.icon-plus {
  background: url('images/plus_icon.png') center center no-repeat;
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  bottom: 0;
}

.btn {
  width: 120px;
  padding: 8px 0;
  font-size: 14px;
  color: var(--color-6);
  text-align: center;
  background: var(--color-4);
  text-transform: uppercase;
  border: 2px solid transparent;
  margin-right: 50px;
}

.btn:hover {
  background: transparent;
  border: 2px solid var(--color-6);
  color: var(--color-6);
}

.btn__show-more {
  width: 147px;
  margin: 60px auto 0 auto;
}

.about-section__paragraph {
  font-size: 21px;
  font-weight: 400;
  color: var(--color-1);
  line-height: 32px;
  margin: 0;
}

.about-section__article {
  display: flex;
  margin: 60px 0 50px 0;
}

.about-section__article-number-icon {
  margin-right: 17px;
  margin-top: 5px;
  min-width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  background: var(--color-4);
}

.about-section__article-number {
  color: var(--color-6);
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
}

.about-section__article-title {
  margin-bottom: 27px;
  font-size: 25px;
  font-weight: 700;
  color: var(--color-2);
  text-transform: uppercase;
}

.about-section__article-text {
  color: var(--color-1);
  font-size: 22px;
  font-weight: 400;
}

.profile {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 320px;
  max-height: 455px;
}

.profile__picture {
  width: 100%;
}

.profile__caption {
  width: 100%;
  flex: 1;
  background: var(--color-3);
  padding: 25px;
}

.profile__caption-name {
  font-weight: 400;
  font-size: 19px;
  text-transform: uppercase;
}

.profile__caption-status {
  font-weight: 400;
  font-size: 17px;
  color: var(--color-1);
}

.profile__overlay,
.work-section__image-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: var(--color-6);
}

.profile:hover .profile__overlay {
  display: block;
  cursor: pointer;
  opacity: 0.2;
}

.profile:hover .profile__caption {
  background: var(--color-0);
  color: var(--color-6);
}

.service-section__title {
  display: inline-block;
  margin-bottom: 100px;
}

.service-item {
  text-align: center;
}

.service-item__icon {
  width: 60px;
}

.service-item__mobile-icon {
  width: 37px;
}

.service-item__title {
  font-size: 22px;
  font-weight: 700;
  margin-top: 40px;
  text-transform: uppercase;
}

.service-item__description {
  font-size: 19px;
  margin-top: 35px;
  font-weight: 400;
  color: var(--color-1);
  line-height: 30px;
  max-width: 310px;
}

footer {
  background: var(--color-0);
  padding: 20px 0;
  text-align: center;
  color: var(--color-6);
  margin-top: 100px;
}

.footer__content {
  max-width: 1140px;
}

.footer__copyright-text {
  margin-top: 30px;
  text-align: center;
}

.--bd-red {
  border-left: 11px solid var(--color-4);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: url('images/arrow_left-white.png');
  width: 50px;
  height: 70px;
}

.carousel-control-next-icon {
  transform: rotate(180deg);
}

@media (min-width: 1200px) {
  .row {
    margin-left: -15px;
    margin-right: -15px;
  }
  .container {
    max-width: 1170px;
  }

  .footer__copyright-text {
    margin-top: 0;
    text-align: right;
    line-height: 63px;
  }

  .about-section__paragraph {
    max-width: 553px;
    font-size: 16px;
    line-height: 26px;
  }

  .about-section__article {
    margin: 0 0 40px 0;
  } 

  .about-section__article-number-icon {
    width: 70px;
    height: 70px;
    line-height: 70px;
  }

  .about-section__article-title {
    margin-bottom: 12px;
    font-size: 22px;
  }

  .about-section__article-text {
    font-size: 18px;
  }

  .profile__caption-name {
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
  }

  .profile__caption {
    padding: 15px 20px;
  }

  .service-section__title {
    display: block;
    text-align: left;
  }

  .service-item__title {
    font-size: 18px;
  }

  .service-item__description {
    font-size: 16px;
  }

  .welcome-text {
    display: block;
    position: absolute;
    width: 570px;
    height: 270px;
    padding: 52px 24px; 
    color: var(--color-6);
    top: 200px;
    left: 200px;
    background: rgba(29, 33, 38, 0.7);
  }

  .welcome-text__main-title {
    margin-bottom: 25px;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    text-transform: uppercase;
  }

  .welcome-text__main-description {
    color: var(--color-5);
    font-size: 16px;
    margin-bottom: 30px;
    font-weight: 400;
    line-height: 16px;
  }

  .work-section__title {
    display: block;
    text-align: left;
  }

  #work-section__carousel {
    display: none;
  }
}